<div id="authors">
  <div class="author content-group">
    <div class="gravatar" style="background: url('http://www.gravatar.com/avatar/8050a341a3a62485639cca1ad52073aa.png')"></div>
    <p class="name">Ash Rollke</p>
    <p class="defocus small-text aside">Quality Assurance Einherjar and madman</p>
    <ul class="text-right small-text clear-both">
      <li><a href="http://twitter.com/higlak" target="_blank">twitter</a></li>
    </ul>
  </div>

  <div class="author content-group">
    <div class="gravatar" style="background: url('http://www.gravatar.com/avatar/22dbad527eff3657ca5b8e39ae331ced.png')"></div>
    <p class="name">Ryan Boucher</p>

    <p class="defocus small-text aside">Team guy</p>
    <ul class="text-right small-text clear-both">
      <li><a href="http://twitter.com/distributedlife" target="_blank">twitter</a></li>
      <li><a href="http://distributedlife.com/" target="_blank">distributedlife</a></li>
    </ul>
  </div>

  <div class="author content-group">
    <div class="gravatar" style="background: url('http://www.gravatar.com/avatar/a731f0d13b3333473277f05ca57d51ef.png')"></div>
    <p class="name">Mike Bain</p>
    <p class="defocus small-text aside">Alpha tester</p>
    <ul class="text-right small-text clear-both">
      <li><a href="http://twitter.com/mike_bain" target="_blank">twitter</a></li>
    </ul>
  </div>
</div>