<section>
  <title>Automation</title>
  <div class="section-toc">
    <ul>
      {% for post in site.posts reversed %}
        {% if post.section == 'automation' %}
          <li>{{ post.title }}</li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
  <div class="articles">
    {% for post in site.posts reversed %}
      {% if post.section == 'automation' %}
        <div class="article">
          <h2>{{ post.title }}</h2>
          {{ post.content }}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</section>