@page
{
  size: 10.8cm 17.45cm;
  margin: 0.635cm;

  @bottom-left { content: count(page); }
}

body
{
  width: 10.8cm;
  height: 17.45cm;
  margin: 0;
  padding: 0;
  font-size: 0.5em;
}

div
{
}

div.section
{
  page-break-before: always;
}

div.section h1
{
  page-break-after: always;
  padding-top: 75%;
  text-align: center;
  font-size: 18pt;
  line-height: 2.0em;
}

div.section-toc
{
  margin-top: 75%;
  text-align: center;
  vertical-align: bottom;
}

div.section-toc ul
{
  text-align: right;
  list-style-type: none;
  padding-right: 2.0em;
}

div.section-toc ul li
{
  font-size: 12pt;
/*  padding-top: 1.2em;*/
  line-height: 2.4em;
}



div.article
{
  page-break-before: always;
  margin: 0;
  padding: 0;
  min-height: 20.50cm;
}

div.article h2
{
  padding-top: 1.0em;
  padding-bottom: 1.0em;
  font-size: 18pt;
}

div.article h3
{
  font-size: 14pt;
  font-weight: bold;
}

div.article p
{
  font-size: 12pt;
  line-height: 1.2em;
  padding-bottom: 2em;
}

div.article ul
{
  font-size: 12pt;
  line-height: 1.2em;
  list-style: inside;
  padding-left: 0.6em;
  padding-bottom: 2em;
  list-style-type: square;
}

div.article-single
{
  page-break-before: always;
  margin: 0;
  padding: 0;
}

div.article-single p
{
  font-size: 12pt;
  line-height: 1.2em;
  padding-bottom: 2em;
}
