<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>The cromulent testing handbook</title>
    <link href="stylesheets/reset.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="stylesheets/book.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="stylesheets/pygment.css" media="all" rel="stylesheet" type="text/css"/>
  </head>
<body>
  <!--
  [undefined front matter]

  [blank]                 [a fear and loathing of testing]

  [section header]        [section toc]
  [article]               [article or blank]
  [article]               [article or blank]
  [article]               [article or blank]
  [article]               [article or blank]

  [a little bit about this book]

  [undefined closing matter]
  -->

  {% include intro.html %}
  {% include concepts.html %}
  {% include automation.html %}
  {% include guidance.html %}
  {% include people.html %}
  {% include anecdotes.html %}
</body>
</html>